# minute hour month-day month week-day
# m h md m wd
0 9 * * * ~/projects/distraction_blocker/switchhosts.sh
0 19 * * * ~/projects/distraction_blocker/switchhosts.sh
0 21 * * * ~/projects/distraction_blocker/switchhosts.sh
0 8 * * * ~/projects/distraction_blocker/switchhosts.sh
* * * * * ~/projects/distraction_blocker/switchhosts.sh
* * * * * say "blocked/unblocked"
